body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.portfolio-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0;
    padding: 20px;
}

.portfolio-box {
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-sizing: border-box;
}

.portfolio-box h2 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    color: #333;
}

.portfolio-box p {
    font-size: 1rem;
    color: #555;
}


.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #555;
    transform: scale(1.1);
}
